.sort__container
    button.sort__button(type='button')
        span.visually-hidden отсортировать
        svg.sort__icon-button
            use(xlink:href="./assets/icons/default/sprite.svg#sort")
ul.sort__list
    p.sort__title Sort by:
    each item in ['Date (New first)', 'Date (Old first)', 'Price (High first)', 'Price (Low first)', 'Total THC (High first)', 'Total THC (Low first)', 'Total CBD (High first)', 'Total CBD (Low first)']
        - const itemId = item.toLowerCase().replace(/\s+/g, '-').replace(/[()]/g, ''); 
        li.sort__item(class=`sort__item--${itemId}`)
            input.sort__input(id=itemId type="radio" name="sort-by" value=itemId)
            label.sort__description(class=`sort__description--${itemId}`)(for=itemId)= item